<% if @comment.origin.present? %>
	$('#comment_reply_new').fadeOut();
	$('#comment_reply_new').remove();
	$('#comments_<%= @origin.id %>_parent').append("<%=j render 'reply_show', comment: @comment %>");
<% else %>
	$('#comments').append("<%=j render 'comments/index', comment: @comment %>");
	$('#comment_contents').val('');
<% end %>


$('html, body').animate({
        scrollTop: $('#comments_<%= @comment.id %>').offset().top - 100
    }, 'slow');

if ($('#comments_count').length) {
    $('#comments_count').text(parseInt($('#comments_count').text())+1);
}
else {
    $('#comments_count_parent').append('<span id="comments_count">1</span>');
}

