<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Our Contacts</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">     
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">

            <!-- Daum Map -->
            <div id="daumRoughmapContainer1454055778884" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%;"></div>
            <!-- End Daum Map -->

            <br>
            <div class="headline"><h2>Get In Touch</h2></div>
            <%= form_for Inquiry.new, html: {class: "sky-form contact-style"} do |f| %>
                <fieldset class="no-padding">
                    <label>Name <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                <%= f.text_field :name, class: "form-control", maxlength: "255" %>
                            </div>
                        </div>                
                    </div>
                    
                    <label>Email <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-7 col-md-offset-0">
                            <div>
                                <%= f.email_field :email, class: "form-control", maxlength: "255" %>
                            </div>
                        </div>                
                    </div>
                    
                    <label>Message <span class="color-red">*</span></label>
                    <div class="row sky-space-20">
                        <div class="col-md-11 col-md-offset-0">
                            <div>
                                 <%= f.text_area :content, class: "form-control", rows: "8", maxlength: "1000" %>
                            </div>
                        </div>                
                    </div>
                    
                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </fieldset>

                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your message was successfully sent!</p>
                </div>
            <% end %>
        </div><!--/col-md-9-->
        
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contacts</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a><i class="fa fa-home"></i>부산 남구 신선로 365 부경대학교 한미르관</a></li>
                <li><a><i class="fa fa-envelope"></i>contact@cert-is.kr</a></li>
                <li><a><i class="fa fa-globe"></i>http://cert-is.kr/contact</a></li>
            </ul>

            <div class="headline"><h2>Bug Report</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li>정회원은 REPORT 게시판을 활용해주세요.</li>
                <li>비회원 혹은 준회원인 경우 문의입력란 혹은 이메일을 통해 제보해주세요.</li>
            </ul>
        </div><!--/col-md-3-->
    </div><!--/row-->        
</div><!--/container-->     
<!--=== End Content Part ===-->

<!-- 3. 실행 스크립트 -->
<script charset="UTF-8">
    new daum.roughmap.Lander({
        "timestamp" : "1454055778884",
        "key" : "8dw7",
        "mapHeight" : "300"
    }).render();
</script>