<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Terms of Service</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="<%= root_path %>">Home</a></li>
            <li class="active">Terms of Service</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">		
	<div class="row-fluid privacy">

        <h4><strong>제 1 장 총칙</strong></h4>

        <p>제 1 조 (목적)</p>
        <p>본 약관은 CERT-IS 홈페이지(이하 “CERT-IS”)가 제공하는 모든 서비스(이하 “서비스”)의 이용조건 및 절차, 이용자와 CERT-IS의 권리, 의무, 책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다.</p>

        <p>제 2 조 (약관의 효력과 변경)</p>

        <p>1. CERT-IS는 귀하가 본 약관 내용에 동의하는 경우, CERT-IS의 서비스 제공 행위 및 귀하의 서비스 사용 행위에 본 약관이 우선적으로 적용됩니다.<br/>
        2. CERT-IS는 본 약관을 사전 고지 없이 변경할 수 있으며, 변경된 약관은 CERT-IS 내에 공지하거나 e-mail을 통해 회원에게 공지하며, 공지와 동시에 그 효력이 발생됩니다.<br/>
        3. 회원이 변경된 약관에 동의하지 않는 경우, 본인의 회원등록을 취소(회원탈퇴)할 수 있으며 계속 사용의 경우는 약관 변경에 대한 동의로 간주됩니다.<br/>
        4. 본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보통신윤리위원회 심의규정, 정보통신 윤리강령, 프로그램보호법 및 기타 관련 법령의 규정에 의합니다.</p>

        <p>제 3 조 (용어의 정의)</p>

        <p>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br/>
        1. 이용자 : 본 약관에 따라 CERT-IS가 제공하는 서비스를 받는 자.<br/>
        2. 가입 : CERT-IS가 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에 동의하여 서비스 이용계약을 완료시키는 행위<br/>
        3. 회원 : CERT-IS에 정보를 제공하여 회원 등록을 한 자로서 개인회원과 기업회원으로 구분되며 CERT-IS가 제공하는 서비스를 이용할 수 있는 자<br/>
        4. 아이디 : 이용고객의 식별과 이용자가 서비스 이용을 위하여 이용자가 선정하고 당 사이트가 부여하는 문자와 숫자의 조합<br/>
        5. 비밀번호 : 이용자와 회원ID가 일치하는지를 확인하고 통신상의 자신의 비밀보호를 위하여 이용자 자신이 선정한 문자와 숫자의 조합<br/>
        6. 탈퇴 : 회원이 이용계약을 종료시키는 행위</p>

        <br/>
        <h4><strong>제 2 장 서비스 제공 및 이용</strong></h4>

        <p>제 4 조 (이용계약의 성립 및 탈퇴)</p>

        <p>1. 이용계약은 신청자가 온라인으로 CERT-IS에서 제공하는 소정의 가입신청 양식에서 요구하는 사항을 기록하여 가입을 완료하는 것으로 성립됩니다.<br/>
        2. CERT-IS는 다음 각 호에 해당하는 이용계약에 대하여는 가입을 취소할 수 있습니다.<br/>
        &nbsp; &nbsp;1) 다른 사람의 명의를 사용하여 신청하였을 때<br/>
        &nbsp; &nbsp;2) 이용계약 신청서의 내용을 허위로 기재하였거나 신청하였을 때<br/>
        &nbsp; &nbsp;3) 다른 사람의 CERT-IS 서비스 이용을 방해하거나 그 정보를 도용하는 등의 행위를 하였을 때<br/>
        &nbsp; &nbsp;4) CERT-IS를 이용하여 법령과 본 약관이 금지하는 행위를 하는 경우<br/>
        &nbsp; &nbsp;5) 기타 CERT-IS가 정한 이용신청요건이 미비 되었을 때</p>
        
        <p>제 5 조 (회원정보 사용에 대한 동의)</p>

        <p>1. 회원의 개인정보는 공공기관의 개인정보보호에 관한 법률에 의해 보호됩니다.<br/>
        2. CERT-IS의 회원 정보는 다음과 같이 사용, 관리, 보호됩니다.<br/>
        &nbsp; &nbsp;1) 개인정보의 사용 : CERT-IS는 서비스 제공과 관련해서 수집된 회원의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다.
        단, 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 정보통신윤리위원회의 요청이 있는 경우 또는 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우, 귀하가 CERT-IS에 제공한 개인정보를 스스로 공개한 경우에는 그러하지 않습니다.<br/>
        &nbsp; &nbsp;2) 개인정보의 관리 : 귀하는 개인정보의 보호 및 관리를 위하여 서비스의 개인정보관리에서 수시로 귀하의 개인정보를 수정/삭제할 수 있습니다.<br/>
        &nbsp; &nbsp;3) 개인정보의 보호 : 귀하의 개인정보는 오직 귀하만이 열람/수정/삭제 할 수 있으며, 이는 전적으로 귀하의 ID와 비밀번호에 의해 관리되고 있습니다. 따라서 타인에게 본인의 ID와 비밀번호를 알려주어서는 안 되며, 작업 종료 시에는 반드시 로그아웃 해주시기 바랍니다.<br/>
        3. 회원이 본 약관에 따라 이용신청을 하는 것은, CERT-IS가 신청서에 기재된 회원정보를 수집, 이용하는 것에 동의하는 것으로 간주됩니다.</p>
        
        <p>제 6 조 (사용자의 정보 보안)</p>

        <p>1. 가입 신청자가 CERT-IS 서비스 가입 절차를 완료하는 순간부터 귀하는 입력한 정보의 비밀을 유지할 책임이 있으며, 회원의 ID와 비밀번호를 사용하여 발생하는 모든 결과에 대한 책임은 회원 본인에게 있습니다.<br/>
        2. CERT-IS가 통제할 수 없는 사유로 인한 서비스중단의 경우(시스템관리자의 고의, 과실 없는 디스크장애, 시스템다운 등)에 사전통지가 불가능하며 타인(통신회사, 기간통신사업자 등)의 고의, 과실로 인한 시스템중단 등의 경우에는 통지하지 않습니다.<br/>
        3. 긴급한 시스템 점검, 증설 및 교체 등 부득이한 사유로 인하여 예고 없이 일시적으로 서비스를 중단할 수 있으며, 새로운 서비스로의 교체 등 당 사이트가 적절하다고 판단하는 사유에 의하여 현재 제공되는 서비스를 완전히 중단할 수 있습니다.<br/>
        4. 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 불가능할 경우, 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다. 다만 이 경우 그 사유 및 기간 등을 이용자에게 사전 또는 사후에 공지합니다.</p>
        
        <p>제 7 조 (서비스의 중지)</p>

        <p>1. CERT-IS는 이용자가 본 약관의 내용에 위배되는 행동을 한 경우, 임의로 서비스 사용을 제한 및 중지할 수 있습니다.<br/>
        2. CERT-IS가 통제할 수 없는 사유로 인한 서비스중단의 경우(시스템관리자의 고의, 과실 없는 디스크장애, 시스템다운 등)에 사전통지가 불가능하며 타인(통신회사, 기간통신사업자 등)의 고의, 과실로 인한 시스템중단 등의 경우에는 통지하지 않습니다.<br/>
        3. 긴급한 시스템 점검, 증설 및 교체 등 부득이한 사유로 인하여 예고 없이 일시적으로 서비스를 중단할 수 있으며, 새로운 서비스로의 교체 등 당 사이트가 적절하다고 판단하는 사유에 의하여 현재 제공되는 서비스를 완전히 중단할 수 있습니다.<br/>
        4. 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 불가능할 경우, 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다. 다만 이 경우 그 사유 및 기간 등을 이용자에게 사전 또는 사후에 공지합니다.</p>
        
        <p>제 8 조 (서비스의 변경 및 해지)</p>

        <p>1. CERT-IS는 귀하가 서비스를 이용하여 기대하는 손익이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않으며, 회원이 본 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다.<br/>
        2. CERT-IS는 서비스 이용과 관련하여 가입자에게 발생한 손해 중 가입자의 고의, 과실에 의한 손해에 대하여 책임을 부담하지 아니합니다.</p>
        
        <p>제 9 조 (게시물의 저작권)</p>

        <p>1. 귀하가 게시한 게시물의 내용에 대한 권리는 귀하에게 있습니다.<br/>
        2. CERT-IS는 게시된 내용을 사전 통지 없이 편집, 이동할 수 있는 권리를 보유하며, 게시판운영원칙에 따라 사전 통지 없이 삭제할 수 있습니다. CERT-IS의 저작물에 관한 법적고지는 “경로첨부”를 참조하십시오.<br/>
        3. 귀하의 게시물이 타인의 저작권을 침해함으로써 발생하는 민, 형사상의 책임은 전적으로 귀하가 부담하여야 합니다.</p>
        
        <br/>
        <h4><strong>제 3 장 의무 및 책임</strong></h4>

        <p>제 10 조 (CERT-IS의 의무)</p>

        <p>1. CERT-IS는 회원의 개인 신상 정보를 본인의 승낙 없이 타인에게 누설, 배포하지 않습니다. 다만, 전기통신관련법령 등 관계법령에 의하여 관계 국가기관 등의 요구가 있는 경우에는 그러하지 아니합니다.<br/>
        2. CERT-IS는 귀하가 동의하지 않은 영리목적의 광고성 전자우편 발송을 하지 않습니다.<br/>
        3. CERT-IS는 귀하가 쾌적한 환경에서 서비스를 즐길 수 있도록 항상 노력합니다.<br/>
        4. CERT-IS가 제공하는 서비스로 인하여 귀하에게 손해가 발생한 경우, 그러한 손해가 CERT-IS의 고의나 중과실에 기해 발생한 경우에 한하여 CERT-IS에서 책임을 부담하며, 그 책임의 범위는 통상손해에 한합니다.<br/>
        5. CERT-IS는 정보통신망 이용촉진에 관한 법률, 통신비밀보호법, 전기통신 기본법 등 서비스의 운영, 유지와 관련 있는 법규를 준수합니다.<br/>
        6. CERT-IS의 개인정보 보호정책<br/>
       &nbsp; &nbsp; CERT-IS는 귀하의 개인정보를 매우 중요하게 취급하고 있습니다.<br/>
        &nbsp; &nbsp; CERT-IS의 개인정보 보호정책을 확인하시려면 “경로첨부” 을 참조하시기 바랍니다.</p>
        
        <p>제 11 조 (회원의 의무)</p>

        <p>1. 회원은 당 사이트의 사전 승낙 없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다.<br/>
        2. 회원 가입 시에 요구되는 정보는 정확하게 기입하여야 합니다. 또한 이미 제공된 귀하에 대한 정보가 정확한 정보가 되도록 유지, 갱신하여야 하며, 회원은 자신의 ID 및 비밀번호를 제3자가 이용하게 해서는 안 됩니다.<br/>
        3. 회원은 당 사이트 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안 됩니다.<br/>
        &nbsp; &nbsp;1) 다른 회원의 비밀번호와 ID를 도용하여 부정 사용하는 행위<br/>
        &nbsp; &nbsp;2) 저속, 음란, 모욕적, 위협적이거나 타인의 사생활를 침해할 수 있는 내용을 전송, 게시, 게재, 전자우편 또는 기타의 방법으로 전송하는 행위<br/>
        &nbsp; &nbsp;3) 서비스를 통하여 전송된 내용의 출처를 위장하는 행위<br/>
        &nbsp; &nbsp;4) 법률, 계약에 의해 이용할 수 없는 내용을 게시, 게재, 전자우편 또는 기타의 방법으로 전송하는 행위<br/>
        &nbsp; &nbsp;5) 타인의 특허, 상표, 영업비밀, 저작권, 기타 지적재산권을 침해하는 내용을 게시, 게재, 전자우편 또는 기타의 방법으로 전송하는 행위<br/>
        &nbsp; &nbsp;6) 당 사이트의 승인을 받지 아니한 광고, 판촉물, 스팸메일, 행운의 편지, 피라미드 조직 기타 다른 형태의 권유를 게시, 게재, 전자우편 또는 기타의 방법으로 전송하는 행위<br/>
        &nbsp; &nbsp;7) 다른 사용자의 개인정보를 수립 또는 저장하는 행위<br/>
        &nbsp; &nbsp;8) 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된 행위<br/>
        &nbsp; &nbsp;9) 선량한 풍속, 기타 사회질서를 해하는 행위<br/>
        &nbsp; &nbsp;10) 타인의 명예를 훼손하거나 모욕하는 행위<br/>
        &nbsp; &nbsp;11) 타인의 지적재산권 등의 권리를 침해하는 행위<br/>
        &nbsp; &nbsp;12) 해킹행위 또는 컴퓨터바이러스의 유포행위<br/>
        &nbsp; &nbsp;13) 타인의 의사에 반하여 광고성 정보 등 일정한 내용을 지속적으로 전송하는 행위<br/>
        &nbsp; &nbsp;14) 서비스의 안전적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위<br/>
        &nbsp; &nbsp;15) 당 사이트에 게시된 정보의 변경<br/>
        &nbsp; &nbsp;16) 기타 전기통신사업법 제53조 제1항과 전기통신사업법 시행령 16조(불온통신)에 위배되는 행위</p>
        
        <br/>
        <h4><strong>제 4 장 기타</strong></h4>

        <p>제 12 조 (양도금지)</p>

        <p>1. 회원이 서비스의 이용권한, 기타 이용계약 상 지위를 타인에게 양도, 증여할 수 없습니다. 단, 기업회원의 경우 담당자의 변경으로 인한 서비스 이용권한의 양도 시 사전에 CERT-IS의 웹사이트 담당자에게 통보하여 주셔야 합니다. (정보관리 책임자:contact@cert-is.kr)
        사전에 고지되지 않고 무단으로 서비스의 이용권한, 기타 이용계약 등을 양도 하였을 경우 발생하는 모든 법적 책임은 양도자에게 책임이 있습니다.</p>
        
        <p>제 13 조 (손해배상)</p>

        <p>1. CERT-IS는 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생하더라도 CERT-IS가 고의로 행한 범죄행위를 제외하고 이에 대하여 책임을 부담하지 아니합니다.</p>
        
        <p>제 14 조 (면책조항)</p>

        <p>1. 당 사이트는 천재지변, 전쟁 및 기타 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 대한 책임이 면제됩니다.<br/>
        2. 당 사이트는 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 발생한 손해에 대한 책임이 면제됩니다.<br/>
        3. 당 사이트는 이용자의 컴퓨터 오류에 의해 손해가 발생한 경우, 또는 회원이 신상정보 및 전자우편 주소를 부실하게 기재하여 손해가 발생한 경우 책임을 지지 않습니다.<br/>
        4. CERT-IS는 회원이나 제3자에 의해 표출된 의견을 승인하거나 반대하거나 수정하지 않습니다. CERT-IS는 어떠한 경우라도 회원이 서비스에 담긴 정보에 의존해 얻은 이득이나 입은 손해에 대해 책임이 없습니다.<br/>
        5. CERT-IS는 회원 간 또는 회원과 제3자간에 서비스를 매개로 하여 물품거래 혹은 금전적 거래 등과 관련하여 어떠한 책임도 부담하지 아니하고, 회원이 서비스의 이용과 관련하여 기대하는 이익에 관하여 책임을 부담하지 않습니다.<br/>
        6. CERT-IS는 서비스 이용과 관련하여 귀하에게 발생한 손해 중 귀하의 고의, 과실에 의한 손해에 대하여 책임을 부담하지 아니합니다.</p>
        
        <p>제 15 조 (재판관할)</p>

        <p>1. CERT-IS와 이용자 간에 발생한 서비스 이용에 관한 분쟁에 대하여는 대한민국 법을 적용하며, 본 분쟁으로 인한 소는 대한민국의 법원에 제기합니다.</p>



    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->