<style type="text/css">
	/* Start by setting display:none to make this hidden.
	   Then we position it in relation to the viewport window
	   with position:fixed. Width, height, top and left speak
	   for themselves. Background we set to 80% white with
	   our animation centered, and no-repeating */
	.modal {
	    display:    none;
	    position:   fixed;
	    z-index:    1000;
	    top:        0;
	    left:       0;
	    height:     100%;
	    width:      100%;
	    background: #4A3E3E
	                url('/assets/bootstrap/ajax-loader.gif') 
	                50% 50% 
	                no-repeat;
	    opacity: 0.7;
	}

	/* When the body has the loading class, we turn
	   the scrollbar off with overflow:hidden */
	body.loading {
	    overflow: hidden;   
	}

	/* Anytime the body has the loading class, our
	   modal element will be visible */
	body.loading .modal {
	    display: block;
	}
</style>

<div id="s_finger_login" style="display:none;"></div>
<div class="modal"></div>
<script type="text/javascript">
	$body = $("body");
	$body.addClass("loading")

    var s_finger_login = new s_finger_login("rm81FvNAQKo58MjWyRqU", "https://cert-is.ga/sfinger");
    // s_finger_login.setDomain(".service.com");
    s_finger_login.setState("abcdefghijkmnopqrst");
    // s_finger_login.setPopup();
    s_finger_login.setButton("blue",3,36);
    s_finger_login.init_s_finger_login();
    s_finger_login.get_s_finger_userprofile(s_callback);

    function s_callback() {
        var id    = s_finger_login.getProfileData('id');
        var email = s_finger_login.getProfileData('email');
        var phone = s_finger_login.getProfileData('phone');

        console.log(id)
        console.log(email)
        console.log(phone)

        $.ajax({
            type: "POST",
            url: "/sfinger",
            cache: false,
            data: {
            	id: id,
            	email: email,
            	phone: phone
            },
            success : {},
            error: {}
        })
    }
</script>