<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">New Board</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="bg-color-light">
    <div class="container content-sm">
        <div class="tag-box tag-box-v3 form-page">
            <div class="headline"><h3><%= @board_type.realname %></h3></div>                
            <%= form_for @board, url: url_for(controller: controller.controller_name, action: 'create') do |f| %>
                <!--Inputs-->
                <h4>Title</h4>
                <div id="board-title" class=""> 
                    <%= f.text_field :title , class: "form-control", maxlength: "255" %>
                </div>
                <!--End Inputs-->

                <div class="margin-bottom-40"></div>

                <!--Textarea-->
                <h4 id="content_head">Contents</h4>
                <div id="summernote" class=""></div>
                <%= f.hidden_field :contents, maxlength: "65535" %>
                <!--End Textarea-->

                <div class="margin-bottom-40"></div>

                <footer style="text-align: right;">
                    <div class="ladda-btn">
                        <button type="submit" class="btn-u pull-right ladda-button" data-style="slide-down" onclick="summernote_submit()" style="border:0;font-weight:400;margin-left:5px;">Submit</button>
                    </div>

                    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
                </footer>

            <% end %>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $('#summernote').summernote({
        height: 500
    });
</script>